.header {
    height: 60px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}
.authContainer {
    margin-left: auto; 
}

.loginBtn {
    background-color: transparent;
    color: white;
    border: 1px solid white; 
    padding: 6px 18px;
    border-radius: 50px;  
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
    outline: none;
}

.loginBtn:hover {
    background-color: white;
    color: #333;
}

.userSection {
    display: flex;
    align-items: center;
    gap: 15px;
}

.userName {
    font-size: 14px;
    color: #eee;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

/* --- 首頁 --- */
.homeLayout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.homeContent {
    flex-grow: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 2em;
    color: #555;
}

.pageLayout {
    display: grid;
    grid-template-areas: 
        "header header"
        "sidebar content";
    grid-template-rows: 60px 1fr;
    min-height: 100vh;
    
    grid-template-columns: 250px 1fr; 
    transition: grid-template-columns 0.3s ease; 
}

.sidebar {
    grid-area: sidebar;
    background-color: #f4f4f4;
    overflow-y: auto;
    width: 100%; 
    transition: width 0.3s, transform 0.3s;
}
.sidebarOpen {
    grid-template-columns: 250px 1fr;
}
.sidebarClosed {
    grid-template-columns: 0 1fr; 
}

.pageContent {
    grid-area: content;
    padding: 20px;
    transition: margin-left 0.3s;
}

.sidebarToggleBtn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 15px;
    padding: 5px;
}


/* === 手機樣式 === */
@media (max-width: 768px) {
    .pageLayout {
        grid-template-areas: 
            "header"
            "content";
        grid-template-columns: 1fr;
    }
    
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 70%; 
        z-index: 1000;
        box-shadow: 2px 0 5px rgba(0,0,0,0.5);
        transform: translateX(-100%); 
        transition: transform 0.3s ease-out;
    }
    
    .sidebar.open {
        transform: translateX(0); 
    }
    
    .sidebarToggleBtn {
        display: block; 
    }
}